li{
    list-style-type:none;
    display: inline;
    padding: 20px;
    font-size:20px;
    cursor: pointer;
}
ul{
    background:white;
    padding:10px;
    text-align: center;
    width: 500px;
    border-radius: 20px;
    margin: auto;
}
body{
    background-color: blanchedalmond;
    background-color: gainsboro;
    
}
#bd{
    
    padding: 45px;
 
}
li:hover{
    color:skyblue;
}
#txn{
    background-color:red;
    width: 150px;
    height: 30px;
    color: white;
    border: 2px;
    border-radius:5px;
}
.inpt{
    text-align: center;
    border: 2px;
    padding: 5px;
    color:red;
    background-color:white;
}
.rd{
    border-style: 88px;
    color: black;
    background-color: blanchedalmond;
}
#sbmt{
    padding:10px;
    color:white;
    background-color:red;
    border:2px;
    border-radius:5px;
    width:150px;
    height:30px;
}
table,th,td{
   width:400px;
    border:1px solid black;
}

#td{
    text-align: center;
}