body{
    margin-bottom: 100px;
}
#spn{
    color:red;
}
div{
    background:gray;
    width:400px;
}
img{
    width:300px;
}

#btn1{
    background-color: tomato;
    color: white;
    border: 2px;
    width: 150px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
}


#form1{
    background-color: skyblue;
    padding: 10px;
    width:400px;
}
    


#form1 input{
    margin-left: 20px;

}
#myform{
    border: 3px;
    padding: 15px;
    background-color: skyblue;
}


table,th,td{
    border:1px solid black;
    text-align: center;
    width: 400px;
}
#tbl{
    width: 400px;
    ;
}
body{
    background: gray;
}